*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1rem = 10px

    @include respond(big-desk) {
        font-size: 87.5%; //1rem = 14px
    }

    @include respond(tab-land) {
        font-size: 56.25%; //1rem = 9px
    }

    @include respond(tab-port) {
        font-size: 50%; //1rem = 8px
    }

    @include respond(phone) {
        font-size: 50%; //1rem = 8px
    }
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 2.5rem;
    box-sizing: border-box;

    @include respond(tab-port) {
        padding: 0rem;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}